.tp-card {
    width: 600px;
 }
 .tp-header-image {
    background-size: cover;
 }

 .backImg {
    width: 300px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}