   <mat-toolbar style="display: flex; justify-content: space-between;">
    <button [routerLink]="['saved-view']" mat-icon-button aria-label=" icon-button with list icon">
     <mat-icon>list</mat-icon>
     Saved Items
   </button>
   <span>Marvel App</span>
 </mat-toolbar>
<div class="container" [appLoading]="isLoading"> 
   <app-filter></app-filter>
  <mat-grid-list cols="3" rowHeight="600px" > 
    <mat-grid-tile 
    *ngFor="let tile of items"
    [colspan]="1"
    [rowspan]="1">
    <mat-card (click)="onItemClick(tile.id)" class = "tp-card">
      <mat-card-header>
      <div mat-card-avatar class = "tp-header-image"></div>
         <mat-card-title>{{ tile.name }}</mat-card-title>
         <mat-card-subtitle>{{ getSubtitle(tile.description)}}</mat-card-subtitle>
      </mat-card-header>
      <img  mat-card-image class="backImg" src = "{{tile.thumbnail.path + '.' + tile.thumbnail.extension}}" alt = "Marvel">
      <mat-card-content>
         <p>
            {{tile.description}}
         </p>
      </mat-card-content>
      <mat-card-actions>
         <button mat-button>View</button>
         <button mat-button>SHARE</button>
      </mat-card-actions>
   </mat-card>
  </mat-grid-tile>
  </mat-grid-list>
</div>
<mat-paginator [pageIndex]="pageIndex" [length]="totalCount" [pageSize]="3" [pageSizeOptions]="[3]" (page)="setPage($event)"></mat-paginator>