   <mat-toolbar style="display: flex; justify-content: space-between;">
    <button [routerLink]="['saved-view']" mat-icon-button aria-label=" icon-button with list icon">
     <mat-icon>list</mat-icon>
     Saved Items
   </button>
   <span>Marvel App</span>
 </mat-toolbar>
<div class="container"> 
   <app-filter></app-filter>
  <mat-grid-list cols="3" rowHeight="600px" > 
    <mat-grid-tile 
    *ngFor="let tile of items"
    [colspan]="1"
    [rowspan]="1" (click)="onItemClick(tile.id)">
    <app-card-view [item]="tile"></app-card-view>
  </mat-grid-tile>
  </mat-grid-list>
</div>
<mat-paginator [pageIndex]="pageIndex" [length]="totalCount" [pageSize]="3" [pageSizeOptions]="[3]" (page)="setPage($event)"></mat-paginator>