   <mat-toolbar style="display: flex; justify-content: space-between;">
    <button [routerLink]="['saved-view']" mat-icon-button aria-label=" icon-button with list icon">
     <mat-icon>list</mat-icon>
     Saved Items
   </button>
   <span>Marvel App</span>
 </mat-toolbar>
<div class="container"> 
   <app-filter></app-filter>
  <div class="f-list"> 
    <div class="child"
    *ngFor="let tile of items"
    (click)="onItemClick(tile.id)">
    <app-card-view [item]="tile"></app-card-view>
  </div>
</div>
</div>
<mat-paginator [pageIndex]="pageIndex" [length]="totalCount" [pageSize]="3" [pageSizeOptions]="[3]" (page)="setPage($event)"></mat-paginator>