<div class="container">
   <form>
    <mat-form-field style="width: 100%!important; padding-top: 40px; margin: auto;">
      <mat-label>Character Name</mat-label>
      <input matInput placeholder="Ex. Iron Man" [formControl]="name" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="getCharacter($event)">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
   </form>
</div>