.tp-card-detail {
    width: 600px;
    max-height: 500px;
    overflow-y: auto;
 }
 .tp-header-image {
    background-size: cover;
 }

 .backImg-detail {
    width: 300px;
}


.tp-card {
    width: 75%;
    cursor: pointer;
 }

 .backImg {
     width: 70%;
 }